@import "/src/mixin/mixin.scss";

.card-form {
    form {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .name {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
                @include text-form;
            }

            input {
                @include input;

                &:focus {
                    transition: all 0.3s ease;
                    @include focus-effect-shadow;
                }
            }
        }

        .number {
            display: flex;
            flex-direction: column;
            gap: 5px;

            label {
                @include text-form;
            }

            input {
                @include input;

                &:focus {
                    transition: all 0.3s ease;
                    @include focus-effect-shadow;
                }
            }
        }

        .description {
            display: flex;
            gap: 20px;

            .time {
                display: flex;
                flex-direction: column;
                width: 35%;
                gap: 5px;

                span {
                    @include text-form;
                }

                .date {
                    display: flex;
                    gap: 5px;

                    #MM {
                        width: 50%;
                        padding: 7px 4px;
                        border-radius: 7px;
                        border: none;
                        outline: none;
                        border: 1.5px solid gainsboro;

                        &:focus {
                            transition: all 0.3s ease;
                            @include focus-effect-shadow;
                        }
                    }

                    #YY {
                        width: 50%;
                        padding: 7px 4px;
                        border-radius: 7px;
                        border: none;
                        outline: none;
                        border: 1.5px solid gainsboro;

                        &:focus {
                            transition: all 0.3s ease;
                            @include focus-effect-shadow;
                        }
                    }
                }
            }

            .cvc {
                display: flex;
                flex-direction: column;
                gap: 5px;

                label {
                    @include text-form;
                }

                input {
                    @include input;

                    &:focus {
                        transition: all 0.3s ease;
                        @include focus-effect-shadow;
                    }
                }
            }
        }

        .submit {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                cursor: pointer;
                width: 50%;
                padding: 17px;
                font-size: 16px;
                border: none;
                border-radius: 10px;
                color: white;
                background-color: rgb(46, 17, 46);
            }

            &:active {
                transform: scale(0.95);
                transition: all 0.2s ease;
            }
        }
    }
}